// переменные для цветов

$primary-color: rgba(0, 0, 102, 1);
$muted-color: rgb(229, 229, 255);
$country-gradient: linear-gradient(0deg, rgba(0,0,102,0.7875525210084033) 14%, rgba(0,0,0,0) 37%);
$employers-box-shadow: 0 0 3px 0 gray;
